# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Node
node_modules/

# Variables de entorno
.env
*.env

# Backups de base de datos
*.sql

# Logs
*.log

# Sistema / editor
.DS_Store
.vscode/
.idea/
frontend/dist/
